<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p *ngIf="flag">
    hello
  </p>
  <button type="button" (click)="onClick()">Toggle</button>


  <p *ngIf="flag1;else shreeja">
    hello
  </p>
  <ng-template #shreeja>
  <p>bye</p>
  </ng-template>
  <button type="button" (click)="onClick1()">Toggle</button>

  <p  [hidden]="flag2" >
    hello123
  </p>
  <button type="button" (click)="onClick2()">Toggle</button>

  <h1>
    <ul>
    <li *ngFor="let item of items,let i=index">{{item}} - {{i}}</li>
    </ul>
  </h1>


</ion-content>
